
<form id="upload" class="registration_form login_left"">
<div class="outer">
  <div>
    <h2>Event Info</h2>
    <p>Please fill out all fields.</p>
    <p align="left">Event name:<br/> <input type="text" name="title" placeholder="e.g. Hackathon" /></p>
    <p>Event start date: <input type="text" id="datepicker" name="startDate"></p>
    <p>Event end date: <input type="text" id="datepicker2" name="endDate"></p>
    <p align="left">Event Description:<br/> <input type="text" name="descr" placeholder="e.g. Hackathon is the greatest hackathon" class="descr"></p>
    <p align="left">Contact email: <br/> <input type="text" name="email" placeholder="e.g. john@gmail.com"></p>
    <p align="left">Schedule:<br/> <input type="text" name="schedule" placeholder="e.g. 9:00am Registration"></p>
    <p align="left">Upload Map Image: <br></p>
    <input type="file" />
    <a href="#" class="upload">Select image</a>
  </div>
</div>

</form>

<form class="registration_form login_right" style="margin-top: -78.3%; height: 680px;">
<div class="outer">
  <div>
    <h2>Current Schedule</h2>
    <p align="left">Schedule:<br/> <input type="text" name="schedule" placeholder="e.g. 9:00am Registration"></p>
  </div>
</div>
</form>

<script type="text/javascript">
  new Uploader({ el: "#upload" });
</script>
