
<form id="eventInfo" class="registration_form login_left">
<div class="outer">
  <div>
    <p>Event Info</p>
    <p align="left">Event name:<br/> <input type="text" name="event" placeholder="e.g. Hackathon"><br></p>
    <p>Event start date: <input type="text" id="datepicker"></p>
    <p>Event end date: <input type="text" id="datepicker2"></p>
    <p align="left">Event Description:<br/> <input type="text" name="description" placeholder="e.g. Hackathon is the greatest hackathon"><br></p>
    <p align="left">Contact email: <br/> <input type="text" name="mail" placeholder="e.g. john@gmail.com"><br></p>
  </div>
</div>
</form>

<form id="upload" class="registration_form login_left">
<div class="outer">
  <div>
    <p align="left">Schedule:<br/> <input type="text" name="uname" placeholder="e.g. 9:00am Registration"><br></p>
    <p align="left">Contact email: <br/> <input type="text" name="title" placeholder="Event Title" /><br></p>
    <input type="file" />
  </div>
  <div>
    <a href="#" class="upload">Select image</a>
  </div
</div>
</form>

<script type="text/javascript">
new Uploader({ el: "#upload" });
</script>
