
<form id="upload" class="registration_form login_left">
<div class="outer">
  <div>
    <p>Event Info</p>
    <p>Please fill out all fields.</p>
    <p align="left">Event name:<br/> <input type="text" name="title" placeholder="e.g. Hackathon" /></p>
    <p>Event start date: <input type="text" id="datepicker"></p>
    <p>Event end date: <input type="text" id="datepicker2"></p>
    <p align="left">Event Description:<br/> <input type="text" name="description" placeholder="e.g. Hackathon is the greatest hackathon"></p>
    <p align="left">Contact email: <br/> <input type="text" name="mail" placeholder="e.g. john@gmail.com"></p>
    <p align="left">Schedule:<br/> <input type="text" name="uname" placeholder="e.g. 9:00am Registration"></p>
    <p align="left">Upload Map Image: <br></p>
    <input type="file" />
    <a href="#" class="upload">Select image</a>
  </div>
</div>
</form>

<script type="text/javascript">
new Uploader({ el: "#upload" });
</script>
