<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<form id="upload" class="registration_form login_left"">
<div class="outer">
  <div>
    <h2>Event Info</h2>
    <p>Please fill out all fields.</p>
    <p align="left">Event name:<br/> <input type="text" name="title" placeholder="e.g. Hackathon" /></p>
    <p>Event start date: <input type="text" id="datepicker" name="startDate"></p>
    <p>Event end date: <input type="text" id="datepicker2" name="endDate"></p>
    <p align="left">Event Description:<br/> <input type="text" name="descr" placeholder="e.g. Hackathon is the greatest hackathon" class="descr"></p>
    <p align="left">Contact email: <br/> <input type="text" name="email" placeholder="e.g. john@gmail.com"></p>
    <p align="left">After filling in all fields and selecting event location, add event map image. Then you will be able to add event schedule.</p>
    <p align="left">Schedule:<br/> <input type="text" name="schedule" placeholder="e.g. 9:00am Registration"></p>
    <p align="left">Enter location: <br/> <input type="text" name="address" placeholder="e.g. NY"></p>
    <p align="left">Upload Map Image: <br></p>
    <input type="file" />
    <a href="#" class="upload">Select image</a>
  </div>
</div>

</form>

<form class="registration_form login_right" style="margin-top: -84.2%; height: 730px;">
<div class="outer">
  <div>
    <h2>Event Location</h2>

    <div id="map-canvas"></div>
  </div>
</div>
</form>

<script type="text/javascript">
  new Uploader({ el: "#upload" });
</script>

<script type="text/javascript">
var geocoder;
var map;
function initialize() {
  geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(40.0047528, -75.118033);
  var mapOptions = {
    zoom: 14,
    center: latlng
  }
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
}

function codeAddress() {
  var address = document.getElementById('address').value;
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
