/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../../sass/styles.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  background: #0D47A1;
  color: white;
}

/* line 15, ../../sass/styles.scss */
a {
  color: white;
}
/* line 18, ../../sass/styles.scss */
a:hover {
  color: #BBDEFB;
}

/* line 24, ../../sass/styles.scss */
h1 {
  font-family: "Open Sans", sans-serif;
}

/* line 28, ../../sass/styles.scss */
#content {
  width: 75%;
  margin: auto;
}

/* line 33, ../../sass/styles.scss */
#bar {
  text-align: left;
  margin-bottom: 20px;
  overflow: hidden;
  *zoom: 1;
}
/* line 38, ../../sass/styles.scss */
#bar .logo {
  display: block;
  text-decoration: none;
  color: white;
  float: left;
  font-size: 25px;
  padding: 15px;
  background: #1E88E5;
}
/* line 49, ../../sass/styles.scss */
#bar .logo:hover {
  background: #1A237E;
}
/* line 54, ../../sass/styles.scss */
#bar ul {
  font-size: 13px;
  padding: 15px;
  background: #1E88E5;
}
/* line 61, ../../sass/styles.scss */
#bar ul li {
  padding-top: 2px;
}
/* line 65, ../../sass/styles.scss */
#bar ul a {
  text-decoration: none;
  color: white;
}
/* line 71, ../../sass/styles.scss */
#bar ul.right {
  float: right;
}
/* line 73, ../../sass/styles.scss */
#bar ul.right li {
  float: right;
  margin-right: 5px;
}
/* line 78, ../../sass/styles.scss */
#bar ul.right form {
  display: inline;
}

/* line 84, ../../sass/styles.scss */
#main {
  background: #1E88E5;
  padding: 25px;
  text-align: left;
  padding: 25px;
  overflow: hidden;
  *zoom: 1;
}
/* line 92, ../../sass/styles.scss */
#main .flash {
  background: #444;
  padding: 10px 15px;
  margin-bottom: 20px;
}
/* line 100, ../../sass/styles.scss */
#main form label {
  display: block;
  margin-top: 15px;
  margin-bottom: 3px;
}
/* line 106, ../../sass/styles.scss */
#main form .submit {
  margin-top: 15px;
}
/* line 111, ../../sass/styles.scss */
#main .image_container {
  float: left;
  width: 612px;
}
/* line 115, ../../sass/styles.scss */
#main .image_container.full {
  width: auto;
}
/* line 119, ../../sass/styles.scss */
#main .image_container h1 {
  margin-bottom: 15px;
  text-align: left;
}
/* line 124, ../../sass/styles.scss */
#main .image_container .outer {
  text-align: center;
  width: 612px;
}
/* line 129, ../../sass/styles.scss */
#main .image_container a {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  display: block;
}
/* line 135, ../../sass/styles.scss */
#main .image_container .image {
  margin-bottom: 15px;
}
/* line 139, ../../sass/styles.scss */
#main .image_container .metadata {
  font-size: 14px;
  color: #aaa;
}
/* line 142, ../../sass/styles.scss */
#main .image_container .metadata .user {
  float: right;
}
/* line 148, ../../sass/styles.scss */
#main .right_panel {
  float: right;
  width: 25%;
}
/* line 152, ../../sass/styles.scss */
#main .right_panel input {
  font-size: 13px;
  background: #d4dae0;
  padding: 4px;
  display: block;
  width: 70%;
  margin-bottom: 7px;
}
/* line 162, ../../sass/styles.scss */
#main .right_panel p {
  margin-bottom: 15px;
  font-size: 12px;
}

/* line 170, ../../sass/styles.scss */
#upload {
  text-align: center;
  margin: auto;
}
/* line 173, ../../sass/styles.scss */
#upload .outer {
  text-align: left;
  width: 90%;
  margin: auto;
}
/* line 179, ../../sass/styles.scss */
#upload h1 {
  font-size: 35px;
  margin-bottom: 25px;
  margin-top: 50px;
}
/* line 185, ../../sass/styles.scss */
#upload input[type=text] {
  padding: 10px;
    display: block;
    width: 95.333333%;
    outline: none;
    font-family: 'Maven Pro', sans-serif;
    font-size: 0.8925em;
    color: #777777;
    -webkit-appearance: none;
    /*text-transform: capitalize;*/
    background: #FFFFFF;
    border: 1px solid rgb(231, 231, 231);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/* line 193, ../../sass/styles.scss */
#upload input[type=file] {
  display: none;
}
/* line 197, ../../sass/styles.scss */
#upload .upload {
  font-family: 'Maven Pro', sans-serif;
  text-decoration: none;
    cursor:pointer;
    background: #242424;
    border: 1px solid #242424;
    padding: 10px 20px;
    outline:none;
    color: #ffffff;
    font-size: 1em;
    /*text-transform: capitalize;*/
    -webkit-appearance: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}
/* line 209, ../../sass/styles.scss */
#upload .upload:hover {
  background: #1A237E;
    border: 1px solid #1A237E;
}
/* line 213, ../../sass/styles.scss */
#upload .upload img {
  position: relative;
  top: 10px;
}

/* line 220, ../../sass/styles.scss */
#image_list {
  margin-top: 25px;
}
/* line 222, ../../sass/styles.scss */
#image_list div {
  float: left;
  margin: 0 15px 15px 0;
}

/* line 228, ../../sass/styles.scss */
#flash {
  padding: 15px;
  font-size: 15px;
  background: #1A237E;
}

/********** Login & registration *************/
.log_reg{
    border-right: 1px solid rgb(60, 60, 60);
    padding: 12px 16px;
    float:right;
}
.log_reg ul li{
    display: inline-block;
}
.log_reg li a{
    font-family: 'Maven Pro', sans-serif;
    font-size: 0.8125em;
    display: block;
    padding: 5px 8px;
    color: #777777;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px;
}
.log_reg  span.log{
    font-size: 0.8125em;
    color: #777777;
    text-transform: lowercase;
    -webkit-text-stroke: 0.5px;
}
h1 {
    font-size: 1.8em;
    color: #fff;
    /*text-transform: capitalize;*/
}
h2 {
    font-size: 1.8em;
    color: #222;
    /*text-transform: capitalize;*/
}
h4.style{
    font-size: 1.5em;
    color: #5e5e5e;
    /*text-transform: capitalize;*/
    /*border: 1px solid #3D3D3D;*/
    padding: 1% 2%;
}
.login_left{
    width: 60%;
    margin-right: auto;
    background: #ffffff;
    padding: 1%;
    min-height: 350px;
}
.login_left:first-child{
    margin-left: 0;
}
.login_left h3{
    font-size: 1.2em;
    color: #57C5A0;
    text-transform: uppercase;
    text-shadow: 0 1px 0 white;
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 10px;
}
.login_left p{
    font-size: 0.8725em;
    line-height:1.5em;
    color: #555555;
    margin: 4% 0;
}

.login_right{
    width: 90%;
    margin-right: auto;
    background: #ffffff;
    padding: 2%;
    min-height: 100px;
}
.login_right:first-child{
    margin-left: 0;
}
.login_right h3{
    font-size: 1.2em;
    color: #57C5A0;
    text-transform: uppercase;
    text-shadow: 0 1px 0 white;
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 10px;
}
.login_right p{
    font-size: 0.8725em;
    line-height:1.5em;
    color: #555555;
    margin: 4% 0;
}
.btn form input[type="button"],.registration_form input[type="button"]{
    font-family: 'Maven Pro', sans-serif;
    cursor:pointer;
    background: #242424;
    border: 1px solid #242424;
    padding: 10px 20px;
    outline:none;
    color: #ffffff;
    font-size: 1em;
    /*text-transform: capitalize;*/
    -webkit-appearance: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}
.btn form input[type="button"]:hover,.registration_form input[type="button"]:hover{
    background: #0D47A1;
    border: 1px solid #0D47A1;
}

/* start registration */
.registration{
    margin: 4% 0;
}
.reg_fb {
    margin:3% 0;
    display: block;
    background: #4263A7;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.reg_fb img {
    background:#3B5998;
    padding: 10px;
    float: left;
}
.reg_fb i {
    color: #ffffff;
    padding: 12px 16px;
    display: inline-block;
    font-size: 1.3em;
    /*text-transform: capitalize;*/
}
.reg_fb:hover {
    background:#3B5998;
}
.registration_left{
}
.registration_left:first-child{
    margin-left: 0;
}
.registration span{
    color: #777777;
}
.registration_form{
    display: block;
}
.registration_form div{
    padding:10px 0;
}
.registration_form input[type="text"],.registration_form input[type="email"],.registration_form input[type="tel"],.registration_form input[type="password"]{
    padding: 10px;
    display: block;
    width: 99%;
    outline: none;
    font-family: 'Maven Pro', sans-serif;
    font-size: 0.8925em;
    color: #777777;
    -webkit-appearance: none;
    /*text-transform: capitalize;*/
    background: #FFFFFF;
    border: 1px solid rgb(231, 231, 231);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.registration_form input[type="text"]:focus,.registration_form input[type="email"]:focus,.registration_form input[type="tel"]:focus,.registration_form input[type="password"]:focus{
    box-shadow: inset -1px -1px 1px rgba(228, 228, 228, 0.67);
    -webkit-box-shadow: inset -1px -1px 1px rgba(228, 228, 228, 0.67);
    -moz-box-shadow: inset -1px -1px 1px rgba(228, 228, 228, 0.67);
    -o-box-shadow: inset -1px -1px 1px rgba(228, 228, 228, 0.67);
}

.descr {
  height: 100px;
  vertical-align: top;
}

.sky_form ul li{
    display:inline-block;
    line-height: 1.5em;
}
.sky_form ul li input[type="radio"]{
    vertical-align: middle;
}
.sky_form label i{
    color: #777777;
    font-size: 0.8725em;
    margin-right: 12px;
    vertical-align: text-top;
}
.sky_form  input[type="checkbox"]{
    vertical-align: text-top;
}
.terms{
    color: #777777;
    text-decoration:underline;
}
.terms:hover{
    text-decoration:none;
}
.forget a{
    /*text-transform: capitalize;*/
    color: #999999;
    text-decoration: underline;
    font-size: 0.8725em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.forget a:hover{
    text-decoration: none;
}

#map-canvas {
  height: 5%;
  margin: 0px;
  padding: 0px
}
/*
#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}*/

